#main {
    height: 700px;
    width: 500px;
}

#screen {
    height: 200px;
    background-color: cadetblue;
}

#buttons{
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: blue ;
    gap: 5px;
    
}

.button {
    background-color: chartreuse;
    text-align: center;
    
    padding: auto;
}

#equal {
    background-color: brown;
    grid-row: span 2;
}